<%=render "admins/adminHeader"%>
<div class="admin-page">
<div class="card  mde_admin_login">
<h5 class="card-header text-center">Admin Login</h5>
<div class="card-body">
  
  <div class="card-text">
  <form>
  <!-- User_name input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">User Name</label>
    <input type="text" id="form2Example1" class="form-control" placeholder="ex: Arijit012" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      
    </div>

    
  </div>

  <!-- Submit button -->
  <div class="text-center">
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#">Register</a></p>
  </div>
</form>
  </div>
  
</div>
</div>
</div>














