.mde_admin_login{
    margin-top: 6rem;
    margin-left: 30rem;
    margin-right: 30rem;
}
.colblue{
    background-color: rgb(3, 3, 83);
    color: aliceblue;
}
.size{  

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.admin-page{
    height: 100vh;
    background-color: rgb(123, 154, 182);
}
